.playing-card {
  width: 85px;
  transition-duration: .3s;
  border: 1px solid grey;
  border-radius: 6px;
}

.playing-card-clickable:hover {
  cursor: pointer;
  transform: translateY(-30px);
  z-index: 100;
}

